<div class="container2" id="login">
  <router-outlet>

    <h1 class="LoginText">

        <i class="material-icons">keyboard_double_arrow_right</i>Login<i class="material-icons">keyboard_double_arrow_left</i>
    </h1>

    <form>
    <div>
        <h1>Email or Username</h1>
        <input type="text" name="user" pInputText class="p-inputtext-sm"> 
    </div>

    <div>
        <h1>Password</h1>
        <input type="password" name="password" Password />
    </div>

    <h1><a class="button fancy-button2">
        <i class="material-icons"></i>Enter
      </a></h1>
    </form>

    <div>
        <a>¿Aun no tienes cuenta? Registrate</a>
    </div>

  </router-outlet>
</div>