
<p-table [value]="products">
    <ng-template pTemplate="header">

        <div class="Agregar" style=" text-align: right;">
            <p-button (click)="showDialog()" styleClass="p-button-info"><i class="pi pi-plus" style="color: white"></i>ADD</p-button>
        </div>

        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Options</th>
            
            
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            
            <button (click)="deleteProduct(product.id)">DELETE</button>
        </tr>

        
        
    </ng-template>

    
</p-table>



<p-dialog [(visible)]="display">
<form [formGroup]="addProductForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name"> Id </label>
      <input id="id" type="text" formControlName="id" />
    </div>


    <div>
      <label for="name"> Nombre </label>
      <input id="name" type="text" formControlName="name" />
    </div>    
    <div>
      <label for="description"> Descripción </label>
      <input id="description" type="text" formControlName="description" />
    </div>
    <div>
      <label for="price"> Precio </label>
      <input id="price" type="text" formControlName="price" />
    </div>    
    <div>
      <label for="images"> Imagen </label>
      <input id="images" type="text" formControlName="images" />
    </div>    


    <button class="button" type="submit">Add</button>
  </form>
</p-dialog>